<% const { urls, home = false } = locals; %>
<!-- prettier spacer -->
<% const isOnProfile = locals.activePage === urls.submitReport ||
locals.activePage === urls.profile; %>
<!---->
<% const isOnMap = locals.activePage === urls.map; %>
<!---->
<% const isOnPrivacyPolicy = locals.activePage === urls.privacyPolicy; %>
<!---->
<% const isOnStats = locals.activePage === urls.statistics; %>
<!---->
<% const useWhiteLogo = locals.useWhiteLogo; %>
<!---->
<% const baseUrl = locals.baseUrl; %>
<!---->
<% const imageSubfolder = locals.imageSubfolder; %>

<div class="block lg:hidden">
  <button
    id="nav-toggle"
    class="flex items-center text-cvs-green-light hover:text-cvs-gold"
  >
    <svg
      class="fill-current h-6 w-6"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <title>Menu</title>
      <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
    </svg>
  </button>
</div>

<nav
  class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block pt-6 lg:pt-0"
  id="nav-content"
>

</nav>
