<% const { profile, passcode, baseUrl, urls } = locals; const age = profile &&
locals.profile.age; const postalCode = profile && locals.profile.postalCode;
const sex = profile && locals.profile.sex; const hasBeenTested = profile &&
locals.profile.hasBeenTested; const hasBeenInContactWithInfected = profile &&
locals.profile.hasBeenInContactWithInfected; const symptomStart = profile &&
locals.profile.symptomStart; const testResult = profile &&
locals.profile.testResult; const bodyTemperature = profile &&
locals.profile.bodyTemperature; const isolationStatus = profile &&
locals.profile.isolationStatus; const smokingHabit = profile &&
locals.profile.smokingHabit; const diagnosedWithOtherConditions = profile &&
locals.profile.diagnosedWithOtherConditions; const symptoms = profile &&
locals.profile.symptoms; const symptomDryCough = symptoms &&
symptoms['DRY_COUGH']; const symptomFatigue = symptoms &&
symptoms['EXHAUSTION']; const symptomFever = symptoms && symptoms['FEVER'];
const symptomHeavyBreathing = symptoms && symptoms['HEAVY_BREATHING']; const
symptomMuscleAching = symptoms && symptoms['MUSCLE_ACHING']; const
symptomDiarrhea = symptoms && symptoms['DIARRHEA']; const symptomHeadache =
symptoms && symptoms['HEADACHE']; const symptomSoreThroat = symptoms &&
symptoms['SORE_THROAT']; const symptomNoSmell = symptoms &&
symptoms['NO_SMELL']; const symptomNoTaste = symptoms && symptoms['NO_TASTE'];
const symptomSlimeCough = symptoms && symptoms['SLIME_COUGH']; const
symptomRunnyNose = symptoms && symptoms['RUNNY_NOSE']; const
symptomNauseaOrVomiting = symptoms && symptoms['NAUSEA_OR_VOMITING']; function
numberWithSpaces(x) { return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
} %>

<section>
  <%- include('partials/header') -%>

  <br /><br />
  <b>
    Attenzione: stiamo aggiornando la privacy policy del servizio in accordo
    alle norme italiane - torniamo online presto. Riprova in serata o domani!
    Grazie
  </b>
</section>
